@page "/"
@using System.ComponentModel

<PageTitle>強杉 サタン</PageTitle>

<div style="text-align:center;">
    <Carousel Autoplay="TimeSpan.FromSeconds(6)">
        <CarouselSlick>
            <h3>
                <Image id="imageSize" Src="https://pbs.twimg.com/media/Fd0u-thaAAEu_Bp?format=jpg&name=large"></Image>
            </h3>
        </CarouselSlick>
        <CarouselSlick>
            <h3>
                <Image id="imageSize" Src="https://pbs.twimg.com/media/Fd8_uR9aMAEUpWu?format=jpg&name=large"></Image>
            </h3>
        </CarouselSlick>
        <CarouselSlick>
            <h3>
                <Image id="imageSize" Src="https://pbs.twimg.com/media/Fcu3y4QacAEbM9Y?format=jpg&name=large"></Image>
            </h3>
        </CarouselSlick>
        <CarouselSlick>
            <h3>
                <Image id="imageSize" Src="https://pbs.twimg.com/media/FckjL93agAML0un?format=jpg&name=large"></Image>
            </h3>
        </CarouselSlick>
    </Carousel>
</div>
<div style="border-radius: 10px; padding:34px; margin: 10px; background-color:#fff;">
    <div style="text-align:center;">
        <Divider Style="font-family: 'Shippori Antique', sans-serif;">📰News📰</Divider>

        <p>
            <a id="underline" href="https://twitter.com/satan_tsuyosugi/status/1576379917583134721">
                バナイベのフォームが出来ましたのでご記入お願いします！
            </a>
        </p>
        <Divider Style="font-family: 'Shippori Antique', sans-serif;">✎Profile✎</Divider>
        <div style="color : darkorchid; font-size : 14px; font-family: 'Shippori Antique', sans-serif;">

            <br />
            <p>
                💎Lapis Live💫の悪魔女帝
            </p>
            <br />
            <p>
                11期生所属の
            </p>
            <p>
                強杉 サタンだよ♡
            </p>
            <p>
                【tsuyosugi satan】
            </p>
            <br />
            <br />
            <p>
                人間界を視察しているうちに
            </p>
            <p>
                限界オタクになっちゃった!?
            </p>
            <br />
            <br />
            <p>
                人間ともっとお喋りした〜い!
            </p>
            <p>
                たくさんお友達が欲しいのだ!
            </p>
            <br />
            <br />
            <p>
                <a id="underline">
                   悪魔的に愛して・・・
                </a>
            </p>
            <br />
        </div>
        <Divider Style="font-family: 'Shippori Antique', sans-serif;">💖配信時間💖</Divider>
        <div style="color : black">
            <p>
                22:00~1:00定時
            </p>
            <p>
                毎週月曜は17:00 から歌枠
            </p>
        </div>
        <Divider Style="font-family: 'Shippori Antique', sans-serif;">🌟配信場所🌟</Divider>
        <div style="color : black">
            <p>
                <a href="https://web.iriam.app/s/user/42YvqM3cnX" id="underline">
                    IRIAMで配信中！
                </a>
            </p>
            <p>
                <a href="https://web.iriam.app/s/user/42YvqM3cnX"><span id="headerColor" class="button-simple dokidoki">配信を見る！</span></a>
            </p>
        </div>
        <Divider Style="font-family: 'Shippori Antique', sans-serif;">Twitter</Divider>
        <p>
            <a class="twitter-timeline" data-chrome=”noheader nofooter” href="https://twitter.com/satan_tsuyosugi?ref_src=twsrc%5Etfw">
            </a>
            <script suppress-error="BL9992" async src="https://platform.twitter.com/widgets.js" charset="utf-8">
            </script>
        </p>
    </div>
</div>

<style>
    #imageSize {
        max-width: 426px;
        max-height: 240px;
        text-align: center;
    }
</style>