@page "/"

<PageTitle>強杉 サタン</PageTitle>

<div style="text-align:center;">
    <Carousel Autoplay="TimeSpan.FromSeconds(6)">
        <CarouselSlick>
            <div>
                <img style=" width:100%; height:400px;" src="https://pbs.twimg.com/media/Fd0u-thaAAEu_Bp?format=jpg&name=large"><img />
            </div>
        </CarouselSlick>
        <CarouselSlick>
            <div>
                <img style=" width:100%; height:400px;" src="https://pbs.twimg.com/media/Fd8_uR9aMAEUpWu?format=jpg&name=large"><img />
            </div>
        </CarouselSlick>
        <CarouselSlick>
            <div>
                <img style=" width:100%; height:400px;" src="https://pbs.twimg.com/media/Fcu3y4QacAEbM9Y?format=jpg&name=large"><img />
            </div>
        </CarouselSlick>
        <CarouselSlick>
            <div>
                <img style=" width:100%; height:400px;" src="https://pbs.twimg.com/media/FckjL93agAML0un?format=jpg&name=large" onload="@(() => State())"><img />
            </div>
        </CarouselSlick>
    </Carousel>
</div>
<div style="padding: 34px;">
    <div style="text-align:center;">
        <Divider Style="font-family: 'Shippori Antique', sans-serif;">お知らせ</Divider>
        <a href="https://twitter.com/satan_tsuyosugi/status/1576379917583134721">
            <Alert Type="@AlertType.Success"
                   Message="バナイベのフォームが出来ましたのでご記入お願いします✏️🌟"
                   ShowIcon="true" />
        </a>
    </div>
</div>

@code{

    private void State(){
        StateHasChanged();
    }
}