@page "/"

<PageTitle>強杉 サタン</PageTitle>

    <a class="twitter-timeline" data-width="360px" data-chrome=”noheader nofooter” data-tweet-limit="5" href="https://twitter.com/satan_tsuyosugi?ref_src=twsrc%5Etfw"></a>