@page "/"
@using System.ComponentModel

<PageTitle>強杉 サタン</PageTitle>

<div style="text-align:center;">
    <Carousel Autoplay="TimeSpan.FromSeconds(6)">
        <CarouselSlick>
            <h3>
                <Image id="imageSize" Src="https://pbs.twimg.com/media/Fd0u-thaAAEu_Bp?format=jpg&name=large"></Image>
            </h3>
        </CarouselSlick>
        <CarouselSlick>
            <h3>
                <Image id="imageSize" Src="https://pbs.twimg.com/media/Fd8_uR9aMAEUpWu?format=jpg&name=large"></Image>
            </h3>
        </CarouselSlick>
        <CarouselSlick>
            <h3>
                <Image id="imageSize" Src="https://pbs.twimg.com/media/Fcu3y4QacAEbM9Y?format=jpg&name=large"></Image>
            </h3>
        </CarouselSlick>
        <CarouselSlick>
            <h3>
                <Image id="imageSize" Src="https://pbs.twimg.com/media/FckjL93agAML0un?format=jpg&name=large"></Image>
            </h3>
        </CarouselSlick>
    </Carousel>
</div>
<div style="text-align:center; font-family: 'Noto Sans JP', sans-serif;">
    <div style="border-radius: 20px; padding:34px; margin: 30px 5% 0px 5%; background-color:#fff;">
        <Divider>📰News📰</Divider>

        <p>
            <a id="underline" href="https://twitter.com/satan_tsuyosugi/status/1576379917583134721">
                バナイベのフォームが出来ましたのでご記入お願いします！
            </a>
        </p>
        <p>
            <a id="underline" href="https://twitter.com/satan_tsuyosugi/status/1575808138049355777">
                10月のバッジ特典を公開しました！
            </a>
        </p>
        <p>
            <a id="underline" href="https://lapislive.com/ta_perspnal_page/tsuyosugisatan">
                公式サイトでプロフィールが公開されました！
            </a>
        </p>
        <Divider>🎪EventResult🎪</Divider>
        <p>
            <a href="https://twitter.com/iriam_official/status/1567818039567187968"><img src="Picture/bannerLogo.jpg" /></a>
        </p>
        <p style="color: forestgreen; font-size : 16px; font-family: 'Slabo 27px', serif;">
            TopBannerChallenge in 6th place
            <blockquote class="twitter-tweet tw-align-center"><a href="https://twitter.com/satan_tsuyosugi/status/1574416884761776128?ref_src=twsrc%5Etfw" /></blockquote>
        </p>
        <Divider>✎Profile✎</Divider>
        <div style="color : darkorchid; font-size : 14px; font-family: 'Noto Sans JP', sans-serif;">
            <br />
            <p>
                💎Lapis Live💫の悪魔女帝
            </p>
            <br />
            <p>
                11期生所属の
            </p>
            <p>
                強杉 サタンだよ♡
            </p>
            <p>
                【tsuyosugi satan】
            </p>
            <br />
            <br />
            <p>
                人間界を視察しているうちに
            </p>
            <p>
                限界オタクになっちゃった!?
            </p>
            <br />
            <br />
            <p>
                人間ともっとお喋りした〜い!
            </p>
            <p>
                たくさんお友達が欲しいのだ!
            </p>
            <br />
            <br />
            <p>
                <a id="underline">
                    悪魔的に愛して・・・
                </a>
            </p>
            <br />
        </div>
        <Divider>💖配信時間💖</Divider>
        <div style="color : black">
            <p>
                22:00~1:00定時
            </p>
            <p>
                毎週月曜は17:00 から歌枠
            </p>
        </div>
        <Divider>🌟配信場所🌟</Divider>
        <div style="color : black">
            <p>
                <a href="https://web.iriam.app/s/user/42YvqM3cnX" id="underline">
                    IRIAMで配信中！
                </a>
            </p>
            <p>
                <a href="https://web.iriam.app/s/user/42YvqM3cnX"><span id="headerColor" class="button-simple dokidoki">配信を見る！</span></a>
            </p>
        </div>
        <Divider>🎤歌ってみた🎤</Divider>
        <p>
            <div style="margin:3px; color : black; font-size : 14px; font-family: 'Noto Sans JP', sans-serif;">
                少女レイ(cover)／強杉サタン少女レイ
            </div>
            <iframe max-width="560" max-height="315" src="https://www.youtube.com/embed/_zLiYeEW7hI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
        <Divider>Twitter</Divider>
        <p>
            <a class="twitter-timeline" data-chrome=”noheader nofooter” href="https://twitter.com/satan_tsuyosugi?ref_src=twsrc%5Etfw">
            </a>
            <script suppress-error="BL9992" async src="https://platform.twitter.com/widgets.js" charset="utf-8">
            </script>
        </p>
    </div>
</div>

<style>
    #imageSize {
        max-width: 426px;
        max-height: 240px;
        text-align: center;
    }

    #newsPadding {
        padding: 5px;
    }
</style>