@inherits LayoutComponentBase

<Layout>
    <Header Class="site-layout-sub-header-background" Style="padding: 10; color:white; text-align:center;">
        <Space>
            <SpaceItem>
                <div style="text-align: center">LOGO</div>
            </SpaceItem>
        </Space>
        </Header>
    <Layout>
        <Content>
            <div class="site-layout-background" style="padding: 0;">
                @Body
            </div>
        </Content>
    </Layout>
    <Footer Style="text-align: center;">©2022 Anonymous Listener</Footer>
</Layout>