@inherits LayoutComponentBase

<Layout>
    <Header Class="site-layout-sub-header-background" Style="padding: 10; color:white;">
                <div style="text-align: center">
            <img style="height:60px" src="logo.png"> <img />
                </div>
        </Header>
    <Layout>
        <Content>
            <div class="site-layout-background" style="padding: 0;">
                @Body
            </div>
        </Content>
    </Layout>
    <Footer Style="text-align: center;">©2022 Anonymous Listener</Footer>
</Layout>